:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  color: var(--pink) !important;
}

.app {
  display: flex;
  overflow: hidden;
}

.navbar {
  flex: 0.2;
  background: transparent !important;
}
.ant-layout {
  background: transparent !important;
}
.main {
  flex: 0.8;
  width: 100%;
}
.routes {
  padding: 20px;
  background: transparent !important;
}
.nav-container {
  position: fixed;
  left: 0;
  margin: 10px;
  height: 100vh;
  width: 20rem !important;
  margin: 0px;
  background: transparent !important;
  border-right: 1px solid #00284e;
}

.logo-container {
  background: transparent !important;
  display: flex;
  padding: 20px;
  align-items: center;
  width: 100%;
}
.logo {
  margin: 0 0 0 15px;
}
/* .logo a {
  color: white !important;
} */
.ant-menu {
  background: transparent !important;
}
.ant-menu-item {
  padding: 1rem 1rem 4rem 1rem !important;
  background-color: #fefefe0c;
  margin: 1rem 1rem !important;
  border-radius: 0.7rem !important;
}

.ant-menu-title-content a {
  font-size: 1.4rem !important;
  color: #d9d9d9 !important;
}
.ant-menu-item-icon {
  font-size: 1.4rem !important;
  color: #d9d9d9 !important;
}

.ant-statistic-title,
.ant-statistic-contentcoin-heading-desc-value,
.ant-statistic-content-value {
  color: #d9d9d9 !important;
}

.menu-control-container {
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 25px !important;
  font-size: 1.2rem !important;
  background-color: var(--bgSecondary) !important;
  border: none !important;
}
.heading {
  color: #d9d9d9 !important;
  border-bottom: 1px solid #00284e;
  padding-bottom: 0.5rem !important;
}
.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  color: #d9d9d9;
  font-size: 1.5rem;
}
.home-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;

  border-bottom: 1px solid #00284e !important;
}
.ant-statistic {
  padding: 1rem !important;
}
.ant-card {
  background: #ffffff16 !important;
  color: #d9d9d9 !important;
  border: 1px solid #ffffff29 !important;
}
.ant-card:hover {
  -webkit-box-shadow: 1px 2px 33px -14px #0071bd !important;
  -moz-box-shadow: 1px 2px 33px -14px #0071bd !important;
  box-shadow: 1px 2px 33px -14px #0071bd !important;
}
.ant-card-head {
  border-bottom: 1px solid #ffffff29 !important;
}
.ant-card-head-title {
  color: #d9d9d9;
}
.ant-card-body p {
  color: #d9d9d9 !important;
}
.provider-container {
  align-items: center;
}
.coin-value-statistics-heading p {
  color: #d9d9d9 !important;
}

.coin-details-heading p,
h3 {
  color: #d9d9d9 !important;
  font-weight: 400 !important;
}
.coin-detail-container canvas {
  background-color: #ffffffc2 !important;
}
.stats {
  font-weight: 600 !important;
}
@media screen and (max-width: 1500px) {
  .main {
    margin-left: 50px;
    flex: 0.9;
  }

  .ant-menu {
    width: 19rem;
  }
  .ant-menu-item {
    padding: 2rem 1.4rem 4rem 1.4rem !important;
  }
  .coin-detail-container {
    width: 100%;
    margin: 0 !important;
  }
}
@media screen and (max-width: 1300px) {
  .main {
    margin-left: 50px;
    flex: 0.9;
  }
  .ant-col {
    /* padding: 0 !important; */
  }
  .ant-menu {
    width: 17rem;
  }
  .ant-menu-item {
    padding: 1rem 1rem 3.4rem 1rem !important;
  }
  .news-image-container {
    flex-direction: column;
  }

  .news-title {
    width: 100% !important;
  }
  .coin-detail-container {
    width: 100%;
    margin: 0 !important;
  }
  .nav-container {
    width: 16.7rem !important;
  }
}

@media screen and (max-width: 1170px) {
  .main {
    margin-left: 50px;
  }
  .ant-menu {
    width: 17rem;
  }
  .ant-menu-item {
    padding: 1rem 1rem 3.4rem 1rem !important;
  }
  .news-image-container {
    flex-direction: column;
  }

  .news-title {
    width: 100% !important;
  }
  .coin-detail-container {
    width: 100%;
    margin: 0 !important;
  }
  .nav-container {
    width: 16.4rem !important;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    margin-left: 100px;
    flex: 1;
  }
  .navbar {
    flex: 0.3;
    background: transparent !important;
  }
  .ant-menu {
    width: 17rem;
  }
  .ant-menu-item {
    padding: 1rem 1rem 3.4rem 1rem !important;
  }
  .news-image-container {
    flex-direction: row;
  }
}
.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .app {
    flex-direction: column;
    overflow: hidden;
  }

  .navbar {
    flex: 1;
  }

  .main {
    flex: 1;
    margin-top: 90px;
    margin-left: 0px;
    margin-right: 10px;
  }

  .nav-container {
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--bgSecondary);
  }

  .menu-control-container {
    display: block !important;
  }

  .ant-menu {
    position: absolute;
    right: 0px;
    background-color: #001529 !important;
  }
  .home-title {
    font-size: 1.4rem !important;
  }

  .show-more {
    font-size: 1.3rem !important;
  }

  .ant-menu-title-content a {
    font-size: 1rem !important;
  }
  .ant-menu-item-icon {
    font-size: 1rem !important;
  }
  .ant-menu-item {
    padding: 0 0.8rem 2rem 0.8rem !important;

    border-radius: 0.5rem !important;
  }

  .logo-container {
    background-color: #001529 !important;
    padding: 1rem 2rem !important;
    justify-content: space-between;
    align-items: center !important;
  }

  .nav-container {
    width: 100% !important;
  }
}
.stats-container {
  padding-top: 2rem !important;
}
.ant-typography {
  color: #d9d9d9 !important;
}

.ant-row canvas {
  background-color: #d9d9d9 !important;
}

.coin-detail-container {
  margin: 30px;
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #ffffff29 !important;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--pink);
}

.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--pink);
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--pink) !important;
}
.coin-heading-desc {
  color: #d9d9d9;
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--pink);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--pink);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
}

.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a {
  color: var(--pink);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}

@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
  }
  .coin-desc-link {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 500px) {
  .coin-links {
    padding: 0px;
  }
  .coin-detail-container {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .heading {
    margin-top: 20px;
  }
}

.select-news {
  width: 180px;
}
.news-card {
  min-height: 300px !important;
}
.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
}
.news-title {
  width: 70%;
}

.news-image-container .img {
  width: 100px;
  height: 100px;
}
.news-card p {
  color: black;
  margin: 10px 0px !important;
}
.provider-container {
  display: flex;
  justify-content: space-between;
}
.provider-name {
  margin-left: 10px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd;
}
.chart-title {
  color: #0071bd !important;
}
.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.price-change {
  font-weight: 600 !important;
}
.current-price {
  margin-top: 0px !important;
  font-weight: 600 !important;
}
.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.show-more {
  margin-top: 0px !important;
}
.exchange-image {
  margin: 0px 10px !important;
}
.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}
.crypto-card-container {
  min-height: 65vh !important;
}
.crypto-card {
  min-width: 250px;
}
.crypto-card .crypto-image {
  width: 35px;
}
.select-timeperiod {
  width: 200px !important;
  margin-top: 20px !important;
}

.footer {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
